<h1>Using jQuery plugin in Angular</h1>

<br><h2>Boys</h2>

<div id="toolbar-boys-options" class="hidden">
  <a href="#"><i class="fa fa-plane"></i></a>
  <a href="#"><i class="fa fa-car"></i></a>
  <a href="#"><i class="fa fa-bicycle"></i></a>
</div>

<div class="btn-toolbar" appToolbarBoys><i class="fa fa-cog"></i></div>

<br><br><h2>Men</h2>
<app-toolbar-men>
  <div id="toolbar-men-options" class="hidden">
    <a href="#"><i class="fa fa-heart"></i></a>
    <a href="#"><i class="fa fa-heart-o"></i></a>
    <a href="#"><i class="fa fa-heartbeat"></i></a>
  </div>
</app-toolbar-men>

<br><br><h2>Legends</h2>
<app-toolbar-legends class="btn-toolbar-success" icon="fa-bitcoin" [toolbarConfig]="{position: 'right'}">
  <div class="toolbar-icons hidden">
    <a href="#"><i class="fa fa-bitcoin"></i></a>
    <a href="#"><i class="fa fa-eur"></i></a>
    <a href="#"><i class="fa fa-cny"></i></a>
  </div>
</app-toolbar-legends>
<br>
<app-toolbar-legends class="btn-toolbar-dark" icon="fa-apple" [toolbarConfig]="{position: 'right', style: 'primary', animation: 'flip'}">
  <div class="toolbar-icons hidden">
    <a href="#"><i class="fa fa-android"></i></a>
    <a href="#"><i class="fa fa-apple"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
  </div>
</app-toolbar-legends>